<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="edu.ssafy.enjoytrip.repository.like.LikeRepository">
   <resultMap id="likeMap" type="likeDto">
      <result column="user_id" property="userId" jdbcType="VARCHAR" javaType="String" />
      <result column="review_id" property="reviewId" jdbcType="INTEGER" javaType="int" />
   </resultMap>
   
   <select id="selectTop3ReviewIds" resultType="likeCountDto">
   		select r.review_id as reviewId, count(l.user_id) as count
   		from review r left outer join likes l
        on l.review_id = r.review_id
   		group by l.review_id
   		order by count(l.user_id) desc
   		limit 3
   </select>
   
   <select id="checkMarkStatus" resultType="int">
   		select count(*)
   		from likes
   		where user_id=#{userId} and review_id=#{reviewId}
   </select>
   
   <select id="likeCount" parameterType="int" resultType="int">
   		select count(user_id)
   		from likes
   		where review_id=#{reviewId}
   </select>
   
   <insert id="createLike" parameterType="reviewDto">
   		insert into likes
   		values(#{reviewId}, #{userId})
   </insert>

	<delete id="deleteLike" parameterType="reviewDto">
		delete from likes
		where user_id=#{userId} and review_id=#{reviewId}
	</delete>
	
</mapper>