<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ssafy.enjoytrip.repository.file.ReviewFileRepository">
   <resultMap id="fileMap" type="reviewFileDto">
   <result column="review_id" property="reviewId" jdbcType="INTEGER" javaType="int" />
      <result column="fid" property="fid" jdbcType="INTEGER" javaType="int" />
      <result column="name" property="name" jdbcType="VARCHAR" javaType="String" />
      <result column="path" property="path" jdbcType="VARCHAR" javaType="String" />
   </resultMap>
   
   <select id="selectFileByFid" resultType="Integer">
   		select *
   		from review_files
   		where pid=#{pid}
   </select>
   
   <select id="selectFileByReviewId" resultMap="fileMap">
   		select *
   		from review_files
   		where review_id=#{reviewId}
   </select>
   
   <select id="selectFile" resultType="Integer">
   		select *
   		from review_files
   		where pid=#{pid}
   </select>
   
   <insert id="saveFile" parameterType="reviewFileDto">
   		insert into review_files
   		values (#{reviewId}, #{fid}, #{name}, #{path})
   </insert>

   <delete id="deleteFile" parameterType="int">
      delete from review_files 
      where pid=#{pid}
   </delete>

</mapper>